{% extends '::backend.html.twig' %}

{% block body -%}

{{ parent() }}

<div class="container">
    <h1>Administrador</h1>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table class="table">
        <tbody>
            <tr>
                <th width="20%">Nombre</th>
                <td width="80%">{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th width="20%">Login</th>
                <td width="8    0%">{{ entity.login }}</td>
            </tr>
        </tbody>
    </table>
    
    <br>
    
    <a class="btn btn-primary" href="{{ path('administrador_edit', { 'id': entity.id }) }}">Cambiar contraseña</a>

</div>
{% endblock %}
