{% extends '::frontend.html.twig' %}

{% block section %}

<div class="contenedor-gen bg-blanca">
    <div class="DirBase">
        <div class="mancha-contenido">
            <div class="DetalleTienda-base">
                <div class="DetalleTit-tienda txt-rob">{{ anunciante.nombre }}</div>
                <div class="DetalleTxt-tienda txt-rob">
                    <ul>
                        {% set avenida = anunciante.avenida %}
                        {% if avenida is not empty %}
                            <li>Calle o Avenida: {{ avenida }}</li>
                        {% endif %}
                        {% set sector = anunciante.sector %}
                        {% if sector is not empty %}
                            <li>Sector: {{ sector }}</li>
                        {% endif %}
                        {% set estado = anunciante.estado %}
                        {% if estado is not empty %}
                            <li>Estado: {{ estado }}</li>
                        {% endif %}
                        <li>Teléfonos: {{ anunciante.telefono1 }} / {{ anunciante.telefono2 }}</li>
                        <li>R.I.F {{ anunciante.rif }}</li>
                        <li>Página Web: <a href="#">{{ anunciante.web }}</a></li>
                        <li>Facebook: {{ anunciante.facebook }}</li>
                        <li>Twitter: {{ anunciante.twitter }}</li>
                        <li>Horario: {{ anunciante.horario }}</li>
                        <li>Hits: {{ anunciante.hits }}</li>
                    </ul>
                </div>
            </div>
            <div class="DetalleTienda-foto">
              <ul class="bxslider">
                <li><img src="{{ asset('uploads/images/img-tiendas/' ~ anunciante.rutaimg1) }}"></li>
                <li><img src="{{ asset('uploads/images/img-tiendas/' ~ anunciante.rutaimg2) }}" /></li>
                <li><img src="{{ asset('uploads/images/img-tiendas/' ~ anunciante.rutaimg3) }}" /></li>
              </ul>
            </div>
            <div class="DetalleTienda-map">
                <!--<iframe class="DetalleTienda-iframe" src="https://mapsengine.google.com/map/embed?mid=z-QEbqNSrANI.k0pr7kMbdsy4"></iframe>-->
                <iframe class="DetalleTienda-iframe" src="{{ anunciante.mapa }}"></iframe>
            </div>


            <div class="txt-piepagina">Para publicar, cont&aacute;ctanos al 0424.830.82.01 &frasl; 0283.515.31.58 o escribe a <a href="mailto:ciudaddeltigre@gmail.com">ciudaddeltigre@gmail.com</a><br /><br />&quot;D&eacute;jate ver, p&uacute;blica con nosotros&quot;
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
   $('.bxslider').bxSlider({
     adaptiveHeight: true
   });
});
</script>
{% endblock %}