{% extends '::frontend.html.twig' %}

{% block section %}

<div class="contenedor-gen bg-blanca">
    <div class="DirBase">
        <div class="mancha-contenido">
            <div class="DetalleTienda-base">
                <div class="DetalleTit-tienda txt-rob">{{ anunciante.nombre }}</div>
                <div class="DetalleTxt-tienda txt-rob">
                    <ul>
                        <li>R.I.F {{ anunciante.rif }}</li>
                        <li>Calle o Avenida: {{ anunciante.avenida }}</li>
                        <li>Edif/Local: {{ anunciante.local }}</li>
                        <li>Sector: {{ anunciante.sector }}</li>
                        <li>Estado: {{ anunciante.estado }}</li>
                        
                        {% set email = anunciante.email %}
                        {% if email is not empty %}
                            <li>Email: {{ anunciante.email }}</li>
                        {% endif %}
                        
                        {% set telefono = anunciante.telefono1 %}
                        {% if telefono is not empty %}
                            <li>Teléfonos: {{ anunciante.telefono1 }} / {{ anunciante.telefono2 }}</li>
                        {% endif %}
                        
                        {% set web = anunciante.web %}
                        {% if web is not empty %}
                            <li>Página Web: <a href="{{ anunciante.web }}">{{ anunciante.web }}</a></li>
                        {% endif %}
                            
                        {% set face = anunciante.facebook %}
                        {% if face is not empty %}
                            <li>Facebook: {{ anunciante.facebook }}</li>
                        {% endif %}

                        {% set tw = anunciante.twitter %}
                        {% if tw is not empty %}
                            <li>Twitter: {{ anunciante.twitter }}</li>
                        {% endif %}
                        
                        {% set horario = anunciante.horario %}
                        {% if horario is not empty %}
                            <li>Horario: {{ anunciante.horario }}</li>
                        {% endif %}
                            
                        <li>Descripción: {{ anunciante.descripcion }}</li>
                    </ul>
                </div>
            </div>
            <div class="DetalleTienda-foto">
              <ul class="bxslider">
                <li><img src="{{ asset('uploads/images/img-tiendas/' ~ anunciante.rutaimg1) }}"></li>
                <li><img src="{{ asset('uploads/images/img-tiendas/' ~ anunciante.rutaimg2) }}" /></li>
                <li><img src="{{ asset('uploads/images/img-tiendas/' ~ anunciante.rutaimg3) }}" /></li>
                <li><img src="{{ asset('uploads/images/img-tiendas/' ~ anunciante.rutaimg4) }}" /></li>
                <li><img src="{{ asset('uploads/images/img-tiendas/' ~ anunciante.rutaimg5) }}" /></li>
              </ul>
            </div>
            <div class="DetalleTienda-map">
                <!--<iframe class="DetalleTienda-iframe" src="https://mapsengine.google.com/map/embed?mid=z-QEbqNSrANI.k0pr7kMbdsy4"></iframe>-->
                <iframe class="DetalleTienda-iframe" src="{{ 'https://' ~ anunciante.mapa }}"></iframe>
            </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}