{% extends '::frontend.html.twig' %}

{% block section %}

<div class="contenedor-gen bg-blanca">
    <div class="DirBase">
        <div class="mancha-contenido DirPaddNull">
        
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="{{ asset('upload/images/img-directorio/bt-dir-alimentos.png') }}">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Alimentos</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="{{ asset('upload/images/img-directorio/bt-dir-alimentos.png') }}images/img-directorio/bt-dir-computadoras.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Computadoras</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="{{ asset('upload/images/img-directorio/bt-dir-alimentos.png') }}images/img-directorio/bt-dir-moviliarios.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Mobiliario</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="{{ asset('upload/images/img-directorio/bt-dir-alimentos.png') }}images/img-directorio/bt-dir-animalesplantas.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Animales y plantas</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="{{ asset('upload/images/img-directorio/bt-dir-alimentos.png') }}images/img-directorio/bt-dir-construccion.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Construcci&oacute;n</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="{{ asset('upload/images/img-directorio/bt-dir-alimentos.png') }}images/img-directorio/bt-dir-puertas.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Puertas y Pisos</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="{{ asset('upload/images/img-directorio/bt-dir-alimentos.png') }}images/img-directorio/bt-dir-arte.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Arte</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="{{ asset('upload/images/img-directorio/bt-dir-alimentos.png') }}images/img-directorio/bt-dir-deportes.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Deportes</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="{{ asset('upload/images/img-directorio/bt-dir-alimentos.png') }}images/img-directorio/bt-dir-radiotelevision.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Radio y Televisi&oacute;n</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            
        </div>
        <div class="txt-piepagina">Para publicar, cont&aacute;ctanos al 0424.830.82.01 &frasl; 0283.515.31.58 o escribe a <a href="mailto:ciudaddeltigre@gmail.com">ciudaddeltigre@gmail.com</a><br /><br />&quot;D&eacute;jate ver, p&uacute;blica con nosotros&quot;
		</div>
    </div>
</div>

{% endblock %}