{% extends '::frontend.html.twig' %}

{% block section %}

<div class="contenedor-gen bg-blanca">
    <div class="DirBase">
        <div class="mancha-contenido DirPaddNull">
        
            {% if categorias is empty %}
                No se encontraron categorias!!
            {% else %}
            {% set indice = 0 %}
            {% for categoria in categorias %}
                <div class="itemDir-base">
                    <div class="itemDir-imagen"><img width="47" height="45" src="{{ asset('uploads/images/img-directorio/' ~ categoria.rutafoto) }}">
                    </div>
                    <div class="itemDir-txt">
                            <div class="itemDir-nombre"><a href="{{ path('subcategoria_mostrar', { 'id': categoria.id } ) }}">{{ categoria.nombre }}</a>
                        </div>
                        <div class="itemDir-mas"><a href="{{ path('subcategoria_mostrar', { 'id': categoria.id } ) }}"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                        </div>
                        <div class="itemDir-sub">
                            {% if subcategorias[indice] is empty %}
                                <div style="font-size:10px;">No se encontraron Subcategorias</div>
                            {% else %}
                            {% set i = 1 %}
                            {% set coma = '' %}
                            {% for subcategoria in subcategorias[indice] %}
                                {% if i < subcategorias[indice]|length %}
                                    {% set coma = ',' %}
                                {% else %}
                                    {% set coma = '' %}
                                {% endif %}
                                <a href="{{ path('anunciantes_mostrar', { 'id': subcategoria.id } ) }}">{{ subcategoria.nombre ~ coma }}</a>
                                
                                {% set i = i + 1 %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% set indice = indice + 1 %}
            {% endfor %}

            {% endif %}
            
        </div>

    </div>
</div>

{% endblock %}