{% extends '::frontend.html.twig' %}

{% block section %}

<div class="contenedor-gen bg-blanca">
    <div class="DirBase">
        <div class="mancha-contenido DirPaddNull">
        
            {% if categorias is empty %}
                No se encontraron categorias!!
            {% else %}
            {% set indice = 0 %}
            {% for categoria in categorias %}
                <div class="itemDir-base">
                    <div class="itemDir-imagen"><img src="{{ asset('uploads/images/img-directorio/' ~ categoria.rutafoto) }}">
                    </div>
                    <div class="itemDir-txt">
                            <div class="itemDir-nombre"><a href="{{ path('subcategoria_mostrar', { 'id': categoria.id } ) }}">{{ categoria.nombre }}</a>
                        </div>
                        <div class="itemDir-mas"><a href="{{ path('subcategoria_mostrar', { 'id': categoria.id } ) }}"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                        </div>
                        <div class="itemDir-sub">
                            {% if subcategorias[indice] is empty %}
                                No se encontraron Subcategorias
                            {% else %}
                            {% set i = 1 %}
                            {% set coma = '' %}
                            {% for subcategoria in subcategorias[indice] %}
                                {% if i < subcategorias[indice]|length %}
                                    {% set coma = ',' %}
                                {% else %}
                                    {% set coma = '' %}
                                {% endif %}
                                <a href="{{ path('anunciantes_mostrar', { 'id': subcategoria.id } ) }}">{{ subcategoria.nombre ~ coma }}</a>
                                
                                {% set i = i + 1 %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% set indice = indice + 1 %}
            {% endfor %}

            {% endif %}
            
        </div>
        <div class="txt-piepagina">Para publicar, cont&aacute;ctanos al 0424.830.82.01 &frasl; 0283.515.31.58 o escribe a <a href="mailto:ciudaddeltigre@gmail.com">ciudaddeltigre@gmail.com</a><br /><br />&quot;D&eacute;jate ver, p&uacute;blica con nosotros&quot;
		</div>
    </div>
</div>

{% endblock %}