{% extends '::frontend.html.twig' %}

{% block section %}

<div class="contenedor-gen bg-blanca">
    <div class="DirBase">
        <div class="mancha-contenido DirPaddNull listado">
            <h2>Categorias</h2>
            <ul class="lista-columnas">
            {% if categorias is empty %}
                No se encontraron Categorias!!
            {% else %}

            {% for categoria in categorias %}
                <li>
                    <a href="{{ path('subcategoria_mostrar', { 'id': categoria.id } ) }}">{{ categoria.nombre }}</a>
                </li>
            {% endfor %}

            {% endif %}
                
            </ul>
            
            <h2>Anunciantes</h2>
            <ul class="lista-columnas">
        
            {% if anunciantes is empty %}
                No se encontraron Anunciantes!!
            {% else %}

            {% for anunciante in anunciantes %}
                <li>
                    <a href="{{ path('anunciante_detalle', { 'id': anunciante.id } ) }}">{{ anunciante.nombre }}</a>
                    <br />
                    <span class="listado-direccion">{{ anunciante.direccion }}</span>
                </li>
            {% endfor %}

            {% endif %}
                
            </ul>
            
        </div>

    </div>
</div>

{% endblock %}