{% extends '::base.html.twig' %}

{% block title %}Ciudad El Tigre{% endblock %}

{% block stylesheets %}
    {% stylesheets '@CiudadTigreAnuncianteBundle/Resources/public/css/cet.css'
                   '@CiudadTigreAnuncianteBundle/Resources/public/css/jquery.bxslider.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %} 
{% javascripts '@CiudadTigreAnuncianteBundle/Resources/public/js/jquery-2.1.1.min.js' 
               '@CiudadTigreAnuncianteBundle/Resources/public/js/jquery.bxslider.min.js'
%}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}

<div class="contenedor-top">
  <div class="base-top">
  
  	<div class="mancha-contenido">
  
        <div class="cont-logo">
            <a href="{{ path('ciudad_tigre_anunciante_homepage') }}"><img src="{{ asset('bundles/ciudadtigreanunciante/images/logo-cet.png') }}"></a>
        </div>
            
        <div class="cont-navegacion">
            <div class="cont-redsoc txt-rob-cnd">Siguenos en
                <a href="https://www.facebook.com/pages/Ciudad-El-Tigre/183242371694254?fref=ts"><img src="{{ asset('bundles/ciudadtigreanunciante/images/logo-facebook.png') }}"></a>
                <a href="https://twitter.com/ciudadeltigre"><img src="{{ asset('bundles/ciudadtigreanunciante/images/logo-twitter.png') }}"></a>
            </div>
            <div class="cont-menu">
                <ul>
                    <li><a href="http://www.ciudadeltigre.com/ciudadeltigre/index.php">Noticias</a></li>
                    <li><a href="http://www.ciudadeltigre.com/revista">Revista</a></li>
                    <li><a href="{{ path('ciudad_tigre_anunciante_homepage') }}">Gu&iacute;a Comercial y Profesional</a></li>
                    <li><a href="http://www.ciudadeltigre.com/ciudadeltigre/index.php">La Ciudad</a></li>
                    <li><a href="http://www.ciudadeltigre.com/ciudadeltigre/index.php">Clasificados</a></li>
                </ul>
            </div>
        </div>
	</div>
    	<div class="base-banner">
        	<div class="banner">
                    <ul class="bxslider">
                        {{ render_esi(controller('CiudadTigreAnuncianteBundle:Default:mostrarBanner')) }}
                    </ul>
                </div>
            <div class="mancha-contenido">
                <div class="titulo-seccion">Directorio
                </div>
                <div class="buscador">
                    <form action="{{ path('anunciante_buscar') }}" method="post" accept-charset="UTF-8" role="search">
                    	<input type="search" value="" name="buscar">
                        <input type="submit" value="Buscar">
                    </form>
                </div>
            </div>
        </div>

  </div>
</div>
<div class="contenedor-gen bg-gris">
    <div class="links-alfabetico txt-rob-cnd">
        
        {% for letter in 'A'..'Z' %}
            <a href="{{ path('buscar_letra', {'letter': letter}) }}">{{ letter }}</a> &bull;
        {% endfor %}
        
        
        <!--<a href="#">A</a> &bull;
        <a href="#">B</a> &bull; 
        <a href="#">C</a> &bull; 
        <a href="#">D</a> &bull;
        <a href="#">E</a> &bull; <a href="#">F</a> &bull; <a href="#">G</a> &bull; <a href="#">H</a> &bull; <a href="#">I</a> &bull; <a href="#">J</a> &bull; <a href="#">K</a> &bull; <a href="#">L</a> &bull; <a href="#">M</a> &bull; <a href="#">N</a> &bull; <a href="#">&Ntilde;</a> &bull; <a href="#">O</a> &bull; <a href="#">P</a> &bull; <a href="#">Q</a> &bull; <a href="#">R</a> &bull; <a href="#">S</a> &bull; <a href="#">T</a> &bull; <a href="#">U</a> &bull; <a href="#">V</a> &bull; <a href="#"></a> &bull; <a href="#">W</a> &bull; <a href="#">X</a> &bull; <a href="#">Y</a> &bull; <a href="#">Z</a>
        -->
    </div> 
</div>

{% block section %}{% endblock %}

<div class="txt-piepagina">Para publicar, cont&aacute;ctanos al 0424.830.82.01 &frasl; 0283.515.31.58 o escribe a <a href="mailto:ciudadeltigre@gmail.com">ciudadeltigre@gmail.com</a><br /><br />&quot;D&eacute;jate ver, p&uacute;blica con nosotros&quot;</div>

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
   $('.bxslider').bxSlider({
     speed: 1200,
     adaptiveHeight: true,
     pause: 8000,
     auto: true
   });
});
</script>
{% endblock %}
    
{% endblock %}
