{% extends '::backend.html.twig' %}

{% block body -%}

{{ parent() }}

<div class="container">
    <h1>Crear Banner</h1>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    <div>
        {{ form_errors(form) }}
            
        <div class="form-group">
            {{ form_label(form.foto, 'Banner:') }}
            {{ form_errors(form.foto) }}
            {{ form_widget(form.foto) }}
            <p class="help-block"><strong>Medidas: </strong> 900x160 píxeles. <strong>Tamaño máximo:</strong> 500 KB. <strong>Formato preferido:</strong> JPEG.
        </div>
        
        {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-primary' } }) }}
    </div>
    
    {{ form_end(form) }}
    
    <br>
    
    <div class="row">
        <ul>
            <li>
                <a href="{{ path('banner') }}">
                    Volver a la lista
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
