{% extends '::backend.html.twig' %}

{% block body -%}

{{ parent() }}

<div class="container">
    <h2>Banner</h2>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table class="table">
        <tbody>
            <tr>
                <th width="20%">Banner:</th>
                <td width="80%"><img src="{{ asset('/uploads/images/banners/' ~ entity.ruta) }}"></td>
            </tr>
            <tr>
                <th width="20%">Createdat</th>
                <td width="80%">{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th width="20%">Updatedat</th>
                <td width="80%">{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('banner') }}">
                Volver a la Lista
            </a>
        </li>
        <li>
            <a href="{{ path('banner_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}
