{% extends '::backend.html.twig' %}

{% block body -%}

{{ parent() }}

<div class="container">
    <h1>Editando Anunciante</h1>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form(edit_form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('anunciante') }}">
            Volver a la lista
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    
</div>
{% endblock %}
