{% extends '::backend.html.twig' %}

{% block body -%}

{{ parent() }}

<div class="container">
    <h1>Anunciante</h1>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Rif</th>
                <td>{{ entity.rif }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
<!--            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
-->
            <tr>
                <th>Calle o Avenida</th>
                <td>{{ entity.avenida }}</td>
            </tr>
            <tr>
                <th>Sector</th>
                <td>{{ entity.sector }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Telefono1</th>
                <td>{{ entity.telefono1 }}</td>
            </tr>
            <tr>
                <th>Telefono2</th>
                <td>{{ entity.telefono2 }}</td>
            </tr>
            <tr>
                <th>Web</th>
                <td>{{ entity.web }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ entity.facebook }}</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>{{ entity.twitter }}</td>
            </tr>
            <tr>
                <th>Hits</th>
                <td>{{ entity.hits }}</td>
            </tr>
            <tr>
                <th>Horario</th>
                <td>{{ entity.horario }}</td>
            </tr>
            <tr>
                <th>Rutaimg1</th>
                <td><img src="{{ asset('/uploads/images/img-tiendas/' ~ entity.rutaimg1) }}" width="400" height="300"></td>
            </tr>
            <tr>
                <th>Rutaimg2</th>
                <td><img src="{{ asset('/uploads/images/img-tiendas/' ~ entity.rutaimg2) }}" width="400" height="300"></td>
            </tr>
            <tr>
                <th>Rutaimg3</th>
                <td><img src="{{ asset('/uploads/images/img-tiendas/' ~ entity.rutaimg3) }}" width="400" height="300"></td>
            </tr>
            <tr>
                <th>Rutaimg4</th>
                <td><img src="{{ asset('/uploads/images/img-tiendas/' ~ entity.rutaimg4) }}" width="400" height="300"></td>
            </tr>
            <tr>
                <th>Rutaimg5</th>
                <td><img src="{{ asset('/uploads/images/img-tiendas/' ~ entity.rutaimg5) }}" width="400" height="300"></td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Mapa</th>
                <td>{{ entity.mapa }}</td>
            </tr>
            <tr>
                <th>Habilitado</th>
                {% if entity.habilitado == true %}
                    <td>{{ 'Visible' }}</td>
                {% else %}
                    <td>{{ 'Oculto' }}</td>
                {% endif%}
            </tr>
<!--            <tr>
                <th>Promocionado</th>
                <td>{{ entity.promocionado }}</td>
            </tr>
-->
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('anunciante') }}">
                Volver a la Lista
            </a>
        </li>
        <li>
            <a href="{{ path('anunciante_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}
