{% extends '::backend.html.twig' %}

{% block body -%}

{{ parent() }}

<div class="container">
    <h2>Categoria</h2>

    <table class="table">
        <tbody>
            <tr>
                <th width="20%">Nombre:</th>
                <td width="80%">{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th width="20%">Imagen:</th>
                <td width="80%"><img src="{{ asset('/uploads/images/img-directorio/' ~ entity.rutafoto) }}"></td>
            </tr>
            <tr>
                <th width="20%">Fecha Creación:</th>
                <td width="80%">{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoria') }}">
                Volver a la Lista
            </a>
        </li>
        <li>
            <a href="{{ path('categoria_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}
