{% extends '::backend.html.twig' %}

{% block body -%}

{{ parent() }}

<div class="container">
    
<h1>Editando Sub-Categoria</h1>

    {{ form_start(edit_form) }}
    <div>
        {{ form_errors(edit_form) }}

        <div class="form-group">
            <label class="control-label">Nombre:</label>
            {{ form_errors(edit_form.nombre) }}
            {{ form_widget(edit_form.nombre, { 'attr': { 'class': 'form-control' } }) }}
        </div>
            
        <div class="form-group">
            <label class="control-label">Peso:</label>
            {{ form_errors(edit_form.promocionado) }}
            {{ form_widget(edit_form.promocionado, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        
        <div class="form-group">
            <label class="control-label">Categoría:</label>
            {{ form_errors(edit_form.categoria) }}
            {{ form_widget(edit_form.categoria, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        
        {{ form_widget(edit_form.submit, { 'attr': { 'class': 'btn btn-primary' } }) }}
    </div>
    
    {{ form_end(edit_form) }}
    
    <br>
    
    <div class="row">
        <ul>
            <li>
                <a href="{{ path('subcategoria') }}">
                    Volver a la lista
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
</div>

{% endblock %}
