{% extends '::backend.html.twig' %}

{% block body -%}

{{ parent() }}

<div class="container">
    <h1>Lista de Subcategorias</h1>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    <br>
    
    <a href="{{ path('subcategoria_new') }}" class="btn btn-primary">Nuevo</a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <!--<th>Rutafoto</th>-->
                <th>Fecha de Creación</th>
                <!--<th>Updatedat</th>
                <th>Promocionado</th>-->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('subcategoria_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('subcategoria_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('subcategoria_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('subcategoria_new') }}" class="btn btn-primary">Nuevo</a>
    
</div>
    {% endblock %}
