{% extends '::backend.html.twig' %}

{% block body -%}

{{ parent() }}

<div class="container">
<h1>Crear Sub-Categoria</h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    <div>
        {{ form_errors(form) }}
        
        <div class="form-group">
            <label class="control-label">Nombre:</label>
            {{ form_errors(form.nombre) }}
            {{ form_widget(form.nombre, { 'attr': { 'class': 'form-control' } }) }}
        </div>
            
        <div class="form-group">
            <label class="control-label">Peso:</label>
            {{ form_errors(form.promocionado) }}
            {{ form_widget(form.promocionado, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        
        <div class="form-group">
            <label class="control-label">Categoría:</label>
            {{ form_errors(form.categoria) }}
            {{ form_widget(form.categoria, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        
        {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-primary' } }) }}
    </div>
    
    {{ form_end(form) }}
    
    <br>
    
    <div class="row">
        <ul>
            <li>
                <a href="{{ path('subcategoria') }}">
                    Volver a la lista
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
