{% extends '::backend.html.twig' %}

{% block body -%}

{{ parent() }}

<div class="container">
    <h2>Subcategoria</h2>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table class="table">
        <tbody>
            <tr>
                <th width="20%">Nombre</th>
                <td width="80%">{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th width="20%">Createdat</th>
                <td width="80%">{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th width="20%">Updatedat</th>
                <td width="80%">{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th width="20%">Peso</th>
                <td width="80%">{{ entity.promocionado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('subcategoria') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('subcategoria_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
