{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <h2>Subcategoria</h2>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Rutafoto</th>
                <td>{{ entity.rutafoto }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Promocionado</th>
                <td>{{ entity.promocionado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('subcategoria') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('subcategoria_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
